html, body {
  width: 100px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}

.job:hover {
  background-color: #CFF2F2;
}

.job {
  background-color: #E5F2F2;
}

.settings:hover {
  background-color: #CFD2F2;
}

.settings {
  background-color: #E5D2F2;
}

